html {
  height: 100%;
}

body {
  background: #ffffff;
  padding: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 1em;
  height: 100%;
}

h1, h2, h3 {
  font-weight: 300;
  margin: 0;
}

.btn {
  text-transform: uppercase;
  font-size: 1em;
  padding: 20px 0;
  display: block;
  width: 100%;
}

.clearbutton {
  height: 50px;
  position: fixed;
  background-color: #ffff99;
  border-radius: 15px 15px 15px 15px;
  bottom: 100px;
  width:90%;
  justify-content: center;
  flex-direction: row;
}
.center, .contain main .size .b, .contain main .milktype .box .b {
  text-align: center;
}
.contain {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: block
}

/* .contain a,
.contain label {
  color: #000;
} */
/* .contain a {
  text-decoration: none;
} */
.contain header {
  background: #03102A;
  /*background: linear-gradient(108deg, #7AE2E3 0%, #0ABF53 100%);*/
  border-radius: 25px 25px 0 0;
  padding: 15px 25px;
}
.contain header h1 {
  font-size: 1.2em;
}

.contain main {
  background: #20304C;
  position: absolute;
  top: 100px;
  bottom: 100px;
  width:100%;
  border-radius:  0 0 25px 25px;
}
.contain main{
  overflow-y: scroll;
  /* min-height:100%;  */
}

/* .contain main .home {

  padding: 20px 10px
  width: 100%;
  height: 100%;
} */
.contain main .home{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr;
  width: 100%;
  height: 50%;
  justify-items: stretch;
  text-align: center;
  align-items: center;
  /* background: url("./img/BackgroundCoffee.png"); */
  background-size: cover
}

 .contain main .home .b .icon {
  color: #FFFFFF;
  font-size: 2em;
  align-items: center;
  line-height: 1;
}

.contain main .home .b {
  font-size: 2.5em;
  align-items: center;
  line-height: 1;
}
.contain main .size{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  justify-items: stretch;
  align-items: center;
  background: url("./img/BackgroundCoffee.png");
  background-size: cover
}

.contain main .size .icon {
 color: #0ABF53;
 /* padding-right: 30px; */
 font-size: 6em;
 line-height: 1;
}
.contain main .milktype{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  justify-items: stretch;
  text-align: center;
  align-items: center;
  background: url("./img/BackgroundCoffee.png");
  background-size: cover
}

 .contain main .milktype .b .icon {
  color: #0ABF53;
  /* padding-right: 30px; */
  font-size: 6em;
  line-height: 1;
}
.contain main .milktype .b.Cow {
  background: #094EC6;
}
.contain main .milktype .b.Soy {
  background: #063A95;
}
.contain main .milktype .b.Rice {
  background: #03245C;
}
.contain main .milktype .b.Coconut {
  background: #00112C;
}

.contain main .milkbalance{
  display: grid;
  grid-template-columns: 1fr  ;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  justify-items: stretch;
  text-align: center;
  align-items: center;
  background: url("./img/BackgroundCoffee.png");
  background-size: cover
}

.contain main .milkbalance .b .icon {
  color: #0ABF53;
  /* padding-right: 30px; */
  font-size: 6em;
  line-height: 1;
}


.contain main .options{
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  justify-items: stretch;
  text-align: center;
  align-items: center;
  background: url("./img/BackgroundCoffee.png");
  background-size: cover
}


.contain main .options .b .icon {
  color: #0ABF53;
  /* padding-right: 30px; */
  font-size: 12em;
  line-height: 1;
}

.contain main .review {
  /* padding: 40px 10px; */
  /* background: url("./img/BackgroundCoffee.png"); */
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%

  /* background: url("./img/BackgroundCoffee.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}
.contain main .sandbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  justify-items: stretch;
  align-items: center;
  background: url("./img/BackgroundCoffee.png");
  background-size: cover
}
.contain main .sandbox .left{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  justify-items: stretch;
  align-items: center;
  background-size: cover
}

.contain main .order {
  padding: 40px 10px;
  color: #000;
  background: url("./img/adyen_coffee_gif.gif");
  background-color: #0ABF53;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 100px 200px 100px;
  width: 100%;
  height: 100%;
}
.contain main .order h1, .contain main .order h2 {
  margin: 15px 0;
}

.button {
  margin:5px;
  display: block;
  width: 45%;
  border: none;
  /* background-color: #4CAF50; */
  background-color: #57BC60;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
}
.button-pay {
  margin:auto;
  display: block;
  width: 45%;
  border: none;
  /* background-color: #4CAF50; */
  background-color: #57BC60;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
}

.button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
}
.clearcache{
  background-color: #ffff99;
  float: left;
  width: 30%;
  padding: 8px 0px;
  display: block;
  border: none;
  background-color: #ffff99;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}
.back{
  background-color: #ffff99;
  float: right;
  width: 25%;
  padding: 8px 0px;
  display: block;
  border: none;
  background-color: #ffff99;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}
.control{
  height: 100px;
  position: absolute;
  bottom: 0;
  width:100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.footer {
  height: 100px;
  position: absolute;
  background-color: blue;

  bottom: 0;
  width:100%;
  justify-content: center;
  flex-direction: row;
}
/*From here, dropin style*/
.payment-method {
    border-radius: 3px;
    display: block;
    margin: 0 -15px;
    padding: 3em;
    background: #f7f8f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 780px) {
    .payment-method {
        margin: 0 auto;
    }
}

#bancontact-container,
#wechatpay-container {
    min-width: 70%;
    max-width: 350px;
}

#dropin-container {
    width: 500px;
    align-items: center;
}

#boletobancario-container,
#boletobancario-result-container {
    width: 550px;
}

.payment-method__container {
  /* width: 50%;
  position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  left: 25%;
  top: 50%;
  background: '#ff6699';

}

/* .adyen-checkout__payment-method{
  background-color: rgba(255, 255, 179, 0.8);
} */
/*Oney*/
.adyen-checkout__dropdown__button__text{
  color:black
}
.adyen-checkout__radio_group__label{
  color:black
}
.adyen-checkout__dropin {
    /* border-style: dotted */
}
 .adyen-checkout__status{
  height: 100px;
}

.adyen-checkout__status--success{
  background: url("./img/adyen_coffee_gif.gif");
  background-size: cover;
  height: 500px;
  width: 500px;
}

.adyen-checkout__status--warning{
  background: url("./img/adyen_waiting_gif.gif");
  background-size: cover;
  height: 500px;
  width: 500px;
}

/* .adyen-checkout__status--error{
  background: url("./img/adyen_coffee_gif.gif");
  background-size: cover;
  height: 500px;
} */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
  border-radius: 15px 15px 15px 15px;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
/*Pay by Link links*/
.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.inactiveLink {
   pointer-events: none;
   cursor: default;
}
.custom-select-box{
  /* height: 100px;
  position: absolute;
  bottom: 0;
  width:100%; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

/*Home screen**/
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
}
.text-over-video {
  /* white-space: pre-wrap; */
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  mix-blend-mode: screen;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
.github-url{
  position: absolute;
  right: 10px;
  bottom: 10px;
}


/* Optional styling */
/*  Payment Method Radio Button */
.adyen-checkout__payment-method__radio {
    position: absolute;
    background-color: $color-white;
    border: 1px solid $color-gray-dark;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    left: 16px;
    transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out;

    .adyen-checkout__payment-method--standalone & {
        display: none;
    }
}

.adyen-checkout__payment-method__radio:after {
    content: '';
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    height: 6px;
    width: 6px;
    background-color: $color-white;
    border-radius: 50%;
    transform: translateY(-50%) scale(0);
    transition: transform 0.3s ease-out;
}

.adyen-checkout__payment-method:hover:not(.adyen-checkout__payment-method--selected) .adyen-checkout__payment-method__radio {
    border-color: #99a3ad;
    box-shadow: 0 0 0 2px $color-gray;
    cursor: pointer;
}

.adyen-checkout__payment-method__radio--selected {
    background-color: $color-primary;
    border: 0;
    transition: all 0.3s ease-out;
}

.adyen-checkout__payment-method__radio--selected:hover {
    box-shadow: 0 0 0 2px rgba(0, 102, 255, 0.4);
}

.adyen-checkout__payment-method__radio--selected:after {
    transform: translateY(-50%) scale(1);
}
